<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= html_import_tag 'application'%>
  <meta name="viewport" content="width=device-width" >
</head>
<body>
  <header>

  </header>

  <section id="r4lApp">
    <template is="dom-bind" id="app">
      <paper-drawer-panel>
        <div drawer id="menuContainer">
          <menu-component> </menu-component>
        </div>
        <div main>
          <iron-grid>
            <div id="main-cards" class="s12 m12 l9">
              <counterdown-slider class="s12"></counterdown-slider>
              <%= yield %>
            </div>
            <div id="adds" class="s0 m0 l3">
              <div class="add">
                add
              </div>
              <div class="add">
                add
              </div>
            </div>
          </iron-grid>
        </div>
      </paper-drawer-panel>

    </template>
  </section>

</body>
</html>
